<h1>Please add your bookmark below</h1>

<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <br>
  <%= f.submit "Add bookmark", class: "btn btn-primary" %>
<% end %>
